body {
  background-color: #1d1e21;
  color: white;
  padding: 0px;
  margin: 0px;
}

.topBar {
  text-align: center;
  font-size: 52px;
  line-height: 50px;
  margin-top: 30px;
}

.dropdown_custom {
  min-width: 260px;
  max-width: 280px;
}

.lottoCard-bg {
  border-radius: 20px;
}

.instructStep {
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

.disclaimerInfo {
  text-align: center;
  font-size: 10px;
  padding: 12px;
  margin-bottom: 20px;
  min-width: 250px;
}

.genBDiv {
  text-align: center;
}

.genButton {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  font-size: 22px;
  border-radius: 70px;
  color: #f0f1f1;
  background-color: #e01010;
  cursor: pointer;
  border: medium solid #c90e0e;
  padding: 0px;
}

.genButton:hover {
  opacity: 0.7;
}

.genDisplay {
  color: #595959;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

.statsButton {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  margin: 10px;
  margin-left: 5px;
}

.statsDisplay {
  color: #595959;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
}

.statsRow {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.evenRow {
  background-color: #e9ecef;
}

td {
  min-width: 240px;
}
